time-*/
workspace.xml
cmake-build-*/
cmake-time-*/
**/doxygen.directory
**/.vs
**/CMakeFiles
**/xcuserdata
.DS_Store
solution-android/packages
solution-windows/packages
solution-universal_windows/packages
solution-universal_windows/AppPackages
_matter.zip
_packages.txt
_packages.txt
deployment.rc